.todolist__text {
    color: black;
}
.todolist__header {
    color: black;
}

.todolist__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-top: 10px;
    padding: 0 10px;
    border-radius: 10px;
    text-align: left;
}

.todolist__list {
    padding: 0;
    margin: 0;
}

.todolist__task_checked {
    text-decoration: line-through 3px solid red;
}

.todolist__button:nth-child(2) {
  margin-left: 10px
}