.todolist__text {
    color: black;
}
.todolist__header {
    color: black;
}

.todolist__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    margin-top: 10px;
    padding: 0 10px;
    border-radius: 10px;
    text-align: left;
}

.todolist__list {
    padding: 0;
    margin: 0;
}

.todolist__task {
    margin-right: 50px;
}

.todolist__task_checked {
    text-decoration: line-through 3px solid red;
    opacity: 0.4;
}

.todolist__button{
    border-radius: 5px;
 }

.todolist__button:nth-child(2) {
  margin-left: 10px
}

.todolist__button_item{
    margin-top: 23px;
    width: 18px;
    height: 18px;
    background-image: url(../../img/edit.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.todolist__button:hover{
   cursor: pointer;
}

.todolist__header-box {
    display: flex;
    flex-direction: row;
}

.todolist__button-img {
    max-width: 15px;
    max-height: 15px;
}